<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/styleConsult.css" type="text/css" media="all" />
        <script src="js/appConsult.js" type="module" charset="utf-8"></script>
        <title> web app </title>
    </head>
    <body>
        <h1> Consult user </h1>
        <div>
            <label> id </label> <input id="id"/> <br> <br>
            <div> <img src="https://www.shutterstock.com/shutterstock/photos/2200138025/display_1500/stock-photo-modern-black-blue-abstract-background-minimal-color-gradient-dark-web-banner-geometric-shape-2200138025.jpg" id="img-user"> </div> <br>
            <textarea id="txt-data" disabled> </textarea> <br> <br>
            <button id="btn-consult"> Consult </button> 
        </div>
    </body>
</html>