<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/styleConsult.css" type="text/css" media="all" />
        <script src="js/appConsult.js" type="module" charset="utf-8"></script>
        <title> web app </title>
    </head>
    <body>
        <h1> Consult user </h1>
        <div>
            <label> id </label> <input id="id"/> <br> <br>
            <textarea id="txt-data" disabled> </textarea> <br> <br> 
            <div> <img id="image" src="" /> </div> <br>
            <button type="submit" id="btn-consult"> Consult </button>
        </div>
    </body>
</html>